## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import Google_API_KEY

# Configure gmaps API key
gmaps.configure(api_key=Google_API_KEY)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Sorland,67.6670,12.6934,42.46,84,95,10.98,NO,2022-03-11 23:08:36,overcast clouds
1,1,Nantucket,41.2835,-70.0995,41.11,87,0,6.91,US,2022-03-11 23:03:44,clear sky
2,2,Vaini,-21.2000,-175.2000,84.36,84,75,8.05,TO,2022-03-11 23:08:37,broken clouds
3,3,Upernavik,72.7868,-56.1549,-16.49,100,71,7.81,GL,2022-03-11 23:08:37,broken clouds
4,4,Hukuntsi,-24.0000,21.7500,74.19,44,26,11.81,BW,2022-03-11 23:08:38,scattered clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp)
                                       &(city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
2,2,Vaini,-21.2000,-175.2000,84.36,84,75,8.05,TO,2022-03-11 23:08:37,broken clouds
4,4,Hukuntsi,-24.0000,21.7500,74.19,44,26,11.81,BW,2022-03-11 23:08:38,scattered clouds
5,5,Hobart,-42.8794,147.3294,66.25,62,20,8.05,AU,2022-03-11 23:08:38,few clouds
6,6,Kapaa,22.0752,-159.3190,81.12,70,20,10.36,US,2022-03-11 23:08:39,few clouds
9,9,Shieli,44.1667,66.7500,50.61,75,97,7.20,KZ,2022-03-11 23:08:39,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                4
Date                   0
Current Description    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

preferred_cities_df2 = preferred_cities_df.dropna()

In [18]:
preferred_cities_df2.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Date                   0
Current Description    0
dtype: int64

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df2[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
696,Taoudenni,ML,70.92,clear sky,22.6783,-3.9836,
697,Ternate,ID,81.59,overcast clouds,0.8000,127.4000,
698,Isabela,PH,78.85,broken clouds,6.7085,121.9711,
699,Conde,BR,80.06,few clouds,-7.2597,-34.9075,
700,Komsomolskiy,UZ,50.72,mist,40.4272,71.7189,
702,Abha,SA,58.82,clear sky,18.2164,42.5053,
706,Piacabucu,BR,78.69,scattered clouds,-10.4056,-36.4344,
707,Honiara,SB,82.36,overcast clouds,-9.4333,159.9500,
708,Mazarron,ES,57.43,overcast clouds,37.5992,-1.3149,
709,Mahanoro,MG,75.16,light rain,-19.9000,48.8000,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_API_KEY
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():


    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    #6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
len(hotels["results"])

6

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,Hukuntsi,BW,74.19,scattered clouds,-24.0000,21.7500,Entabeni Hotel
5,Hobart,AU,66.25,few clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
6,Kapaa,US,81.12,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Shieli,KZ,50.61,overcast clouds,44.1667,66.7500,Gostinitsa Aybek Shieli
10,Port Alfred,ZA,73.69,broken clouds,-33.5906,26.8910,The Halyards Hotel
11,Atuona,PF,78.87,broken clouds,-9.8000,-139.0333,Villa Enata
12,Cacu,BR,80.11,overcast clouds,-18.5567,-51.1308,Império Hotel
13,Rikitea,PF,78.13,clear sky,-23.1203,-134.9692,People ThankYou
16,Lorengau,PG,83.57,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel

In [23]:
hotel_df["Hotel Name"].isnull().sum()

0

In [24]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].isnull().sum()

0

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "weather_database/vacation_search.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))